*{
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    font-family: 'Space Mono', monospace;
    /* font-weight: 700; */
    background: hsl(185, 41%, 84%);
    height: 100vh;
    width: 100vw;
    display: flex;
    /* justify-content: flex-start; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}


.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    min-height: 25%;
}

.calculator-box {
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100%;
    height: 45rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.bill-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

.box-header {
    color: hsl(186, 14%, 43%);
    margin-bottom: 0.5rem;
}

.input-box {
    display: flex;
    align-items: center;
    position: relative;
}

.input-box input {
    font-size: 1.4rem;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: end;
    outline: none;
    border: none;
    background: hsl(189, 41%, 97%);
}

.input-box input::placeholder {
    opacity: 0.5;
    color: hsl(186, 14%, 43%)
}

.input-box input:focus::placeholder {
    color: transparent;
}

.icon {
    position: absolute;
    left: 1rem;
}

.tip-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;
}

.option-box {
    width: 100%;
    height: 12rem;
    display: grid;
    align-content: stretch;
    justify-content: space-between;
    grid-template-columns: 47.5% 47.5%;
    grid-auto-rows: 3rem;
    grid-column-gap: 5%;
    grid-row-gap: 10%;
    margin-top: 0.5rem;
}

.option {
    font-size: 1.4rem;
    color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    background: hsl(183, 100%, 15%);
    outline: none;
    border: none;
}

.option:focus {
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

#custom-value {
    text-align: end;
    background: hsl(189, 41%, 97%);
}

#custom-value:focus::placeholder{
    color: transparent;
}

#custom-value::placeholder {
    color: hsl(186, 14%, 43%)
}

.people-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-bottom: 0.5rem;
}

.result-box {
    display: flex;
    flex-direction: column;
    background: hsl(183, 100%, 15%);
    border-radius: 1rem;
    width: 100%;
    padding: 1.5rem;
}

.info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 1rem 0;
}

.text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3rem;
}

.result-header{
    color: hsl(0, 0%, 100%);
}

.splitters {
    font-size: 0.8rem;
    color: hsl(186, 14%, 43%);
}

.result {
    font-size: 2rem;
    color: hsl(172, 67%, 45%);
}

#reset-btn {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    color: hsl(183, 100%, 15%);
    background: hsl(172, 67%, 45%);
    outline: none;
}

#reset-btn:active {
    background: hsl(183, 100%, 15%);
}


